<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>AdminLTE Template Version</b> 1.0
    </div>
    <strong>Copyright &copy; @(2019 == System.DateTime.Now.Year ? "2019" : ("2019-" + System.DateTime.Now.Year.ToString())) 刘迪.</strong> All rights
    reserved.
</footer>

